$page-width: 90rem;
$nav-width: 12rem;

$header-gradient: linear-gradient(#dc7777, #8d2525);
$header-height: 3rem;
$header-color: lightgray;
$nav-color: #fff;
$button-color: #f0f0f0;

$heading-font: 'Ubuntu', sans-serif;
$body-font: 'PT Sans narrow', sans-serif;
